[submodule "electronique/CDFR2025-Carte-OmniAsservissement"]
	path = electronique/CDFR2025-Carte-OmniAsservissement
	url = git@github.com:robotronik/CDFR2025-Carte-OmniAsservissement.git
[submodule "electronique/CDFR2025-carte-Arduino"]
	path = electronique/CDFR2025-carte-Arduino
	url = git@github.com:robotronik/CDFR2025-carte-Arduino.git
[submodule "electronique/cdfr2024-carte-Raspberry"]
	path = electronique/cdfr2024-carte-Raspberry
	url = git@github.com:robotronik/cdfr2024-carte-Raspberry.git
[submodule "informatique/CDFR2026-Program-DriveControl"]
	path = informatique/CDFR2026-Program-DriveControl
	url = git@github.com:robotronik/CDFR2026-Program-DriveControl.git
[submodule "informatique/cdfr2024-programme-Actionneur"]
	path = informatique/cdfr2024-programme-Actionneur
	url = git@github.com:robotronik/cdfr2024-programme-Actionneur.git
[submodule "informatique/CDFR2026-Programme-Robot"]
	path = informatique/CDFR2026-Programme-Robot
	url = git@github.com:robotronik/CDFR2026-Programme-Robot.git
[submodule "informatique/simulation-asservissement"]
	path = informatique/simulation-asservissement
	url = git@github.com:robotronik/simulation-asservissement.git
[submodule "electronique/cdfr2025-carte-pamis"]
	path = electronique/cdfr2025-carte-pamis
	url = git@github.com:robotronik/cdfr2025-carte-pamis.git
[submodule "informatique/PythonArucoOpenCV"]
	path = informatique/PythonArucoOpenCV
	url = git@github.com:robotronik/PythonArucoOpenCV.git
[submodule "informatique/programme-pamis"]
	path = informatique/programme-pamis
	url = git@github.com:robotronik/programme-pamis.git
